.CreateTestLayoutBody{
  display : block; 
}
.CreateTestPage__Container {
  display: flex;
  flex-flow: nowrap row;
  justify-content: center;
  flex-basis: calc(100% - 165px);
}

.button{
  border : 1px none #333333;
  border-radius : 4px;
  color : #FFFFFF;
  padding : 4px 10px;
  font-weight : bold;
  background-color : #FF9900;
}
.testDate{
  margin-top : 20px;
  margin-bottom : 20px;
  #data-name{
font-weight : bold;
  }
  .data-calander{
  height : 26px;
width : 200px;
margin-left : 10px;
margin-right : 10px;
  }
}
.testName2{
  position : relative;
  // left : 16px;
  margin-top : 20px;
  margin-bottom : 20px;
  padding-left : 16px;
  #name-text{
height : 26px;
width : 500px;
margin-left : 10px;
  }
}
.termExam{
  position : relative;
  left : 40px;
  margin-top : 20px;
  margin-bottom : 20px;
  padding-left : 10px;
  #checkbox{
margin-right : 10px;
  }
}
.className{
  position : relative;
  // left : 16px;
  margin-top : 20px;
  margin-bottom : 20px;
  padding-left : 16px;
  .select{
height : 26px;
width : 500px;
margin-left : 10px;
  }
}
.testContent{
  margin-top : 20px;
  margin-bottom : 20px;
  #textarea{
vertical-align : top;
margin-left:10px;
height : 130px;
width : 500px;
padding : 10px;
  }
}
.selectProblem{
  margin-top : 20px;
  margin-bottom : 20px;
  #select{
vertical-align : top;
margin-left : 10px;
margin-right : 10px;
height : 130px;
width : 200px;
padding : 10px;
      overflow : hidden;
  }
}
.save{
  .button{
      margin-left : 520px;
  }
}

