.progress__container{
    margin-top : 20px;
    margin-left : 200px;
    #select-area{
		float : left;
        height : 100%;
        .select_problem {
	    	height : 26px;
            width : 150px;
        }
    }
    #input-area{
	float : left;
	margin-left : 80px;
    display : inline-block;
	height : 100%;
	width : 450px;
	input{
	    font-size : 13px;
	}
	#problem-name{
	    padding-left : 10px;
	    height : 26px;
	    width : 450px;
	    margin-bottom : 20px
	}
	#problem-define{
	    padding-left : 10px;
	    height : 26px;
	    width : 450px;
	    margin-bottom : 20px;
	}
	#problem-input{
	    padding-left : 10px;
	    height : 26px;
	    width : 450px;
	    margin-bottom : 20px;
	}
	#problem-output{
	    padding-left : 10px;
	    height : 26px;
	    width : 450px;
	    margin-bottom : 20px;
        }
        #example-data{
	    width : 450px;
	    input{
	        height : 26px;
		width : 210px;
		margin-bottom : 6px;
                margin-top : 6px;
		padding-left : 4px;
		border-style : none;
		background-color : #DDDDDD;
	    }
	    #input-data{
		float : left;
		width : 225px;
	    }
	    #output-data{
		padding-left : 15px;
		width : 225px;
	        float : right;
	    }
	}
	button{
	    float : right;
	    border : 1px none rgb(51, 51, 51);
	    border-radius : 4px;
	    color : #FFFFFF;
	    padding : 4px 10px;
	    font-weight : bold;
	    background-color : rgb(255, 153, 0);
	    margin-top : 10px;
	}
    }
    
}
